@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/Poppins.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

body {
  @apply text-gray-500;

  font-family:
    Poppins,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tiptap-editor .is-empty::before {
  @apply text-zinc-400;

  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

@custom-variant prose-selected (&:where(.ProseMirror-selectednode>[data-node-view-wrapper], .ProseMirror-selectednode>[data-node-view-wrapper]>*)) {
}
