@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/Poppins.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

body {
  @apply text-gray-500;

  font-family:
    Poppins,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tiptap-editor
  .is-empty.react-renderer
  > [data-node-view-wrapper]
  > [data-node-view-content]::before,
.tiptap-editor .is-empty:not(.react-renderer)::before {
  @apply text-zinc-400;

  content: var(--placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

@custom-variant tt-selected (&:where(.ProseMirror-selectednode>[data-node-view-wrapper], .ProseMirror-selectednode>[data-node-view-wrapper]>*)) {
}

@custom-variant tt-focus (&.tt-focus, &:where(.react-renderer.tt-focus>*)) {
}

@theme {
  --color-selection: color-mix(in oklch, var(--color-blue-200) 40%, white);
}
